.add-list-container{
    width: 370px;
    height: 350px;
    background: linear-gradient(to right,rgb(12, 52, 75),rgb(14, 38, 83));
    position: relative;
    display: none;
    .header{
        height:100%;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .back{
            padding-left: 15px;
            font-size: 28px;
            padding-top: 12px;
            cursor: pointer;
            color: rgb(46, 182, 228);
        }
        p{
            padding-top:19px ;
            color: white;
        }
    }
    input{
        border: none;
        border-bottom: 3px rgb(247, 247, 247) solid;
        outline: none;
        background-color: transparent;
        color: white;
         
    }
    .design{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
   
    }
}
::placeholder{
    color: white;
}
.submit-btn{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    background-color: rgb(60, 176, 230);
    text-transform: uppercase;
    outline: none;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    color: white;
}